.main {
  width: 100%;
}
.todoList {
  width: 50% !important;
  margin: auto !important;
  padding: 5px;
  /* border: 1px solid red; */
}

.todo {
  display: flex;
  margin: 5px;
  padding: 3px;
  text-align: left;
  height: 35px;
  display: flex !important;
}

.overdue {
  background-color: #f8d7da;
}

.completed {
  background-color: #d1e7dd;
}

.pending {
  background-color: #e2e3e5;
}

.date {
  border: 1px solid black;
  text-align: center;
  width: 15%;
  vertical-align: middle;
  position: relative;
  height: 25px;
}

.desc {
  margin-left: 5px;
}

input[type="checkbox"]:checked + label.desc {
  text-decoration: line-through;
}

@media only screen and (max-width: 600px) {
  .todoList {
    width: 100% !important;
    margin: auto !important;
    padding: 5px;
    /* border: 1px solid red; */
  }
}
